allow gmscore_app adbd_prop:file { getattr  open };
allow gmscore_app apexd_prop:file { getattr  open };
allow gmscore_app atci_sys_prop:file { getattr  open };
allow gmscore_app atm_ipaddr_prop:file { getattr  open };
allow gmscore_app atm_mdmode_prop:file { getattr  open };
allow gmscore_app bluetooth_a2dp_offload_prop:file { getattr  open };
allow gmscore_app bluetooth_audio_hal_prop:file { getattr  open };
allow gmscore_app bluetooth_prop:file { getattr  open };
allow gmscore_app bootani_prop:file { getattr  open };
allow gmscore_app bootloader_boot_reason_prop:file { getattr  open };
allow gmscore_app boottime_prop:file { getattr  open };
allow gmscore_app boottime_public_prop:file { getattr  open };
allow gmscore_app bpf_progs_loaded_prop:file { getattr  open };
allow gmscore_app charger_prop:file { getattr  open };
allow gmscore_app cold_boot_done_prop:file { getattr  open };
allow gmscore_app coredump_prop:file { getattr  open };
allow gmscore_app cpu_variant_prop:file { getattr  open };
allow gmscore_app ctl_adbd_prop:file { getattr  open };
allow gmscore_app ctl_apexd_prop:file { getattr  open };
allow gmscore_app ctl_bootanim_prop:file { getattr  open };
allow gmscore_app ctl_bugreport_prop:file { getattr  open };
allow gmscore_app ctl_ccci2_fsd_prop:file { getattr  open };
allow gmscore_app ctl_ccci2_rpcd_prop:file { getattr  open };
allow gmscore_app ctl_ccci3_fsd_prop:file { getattr  open };
allow gmscore_app ctl_ccci_fsd_prop:file { getattr  open };
allow gmscore_app ctl_ccci_rpcd_prop:file { getattr  open };
allow gmscore_app ctl_console_prop:file { getattr  open };
allow gmscore_app ctl_default_prop:file { getattr  open };
allow gmscore_app ctl_dumpstate_prop:file { getattr  open };
allow gmscore_app ctl_fuse_prop:file { getattr  open };
allow gmscore_app ctl_fusion_ril_mtk_prop:file { getattr  open };
allow gmscore_app ctl_gsid_prop:file { getattr  open };
allow gmscore_app ctl_gsm0710muxd_prop:file { getattr  open };
allow gmscore_app ctl_interface_restart_prop:file { getattr  open };
allow gmscore_app ctl_interface_start_prop:file { getattr  open };
allow gmscore_app ctl_interface_stop_prop:file { getattr  open };
allow gmscore_app ctl_mdnsd_prop:file { getattr  open };
allow gmscore_app ctl_muxreport-daemon_prop:file { getattr  open };
allow gmscore_app ctl_restart_prop:file { getattr  open };
allow gmscore_app ctl_ril-daemon-mtk_prop:file { getattr  open };
allow gmscore_app ctl_ril-proxy_prop:file { getattr  open };
allow gmscore_app ctl_rildaemon_prop:file { getattr  open };
allow gmscore_app ctl_sigstop_prop:file { getattr  open };
allow gmscore_app ctl_start_prop:file { getattr  open };
allow gmscore_app ctl_stop_prop:file { getattr  open };
allow gmscore_app ctl_viarild_prop:file { getattr  open };
allow gmscore_app ctl_volte_imcb_prop:file { getattr  open };
allow gmscore_app ctl_volte_stack_prop:file { getattr  open };
allow gmscore_app ctl_volte_ua_prop:file { getattr  open };
allow gmscore_app debug_bq_dump_prop:file { getattr  open };
allow gmscore_app debug_mdlogger_prop:file { getattr  open };
allow gmscore_app debug_mtk_aee_prop:file { getattr  open };
allow gmscore_app debug_mtklog_prop:file { getattr  open };
allow gmscore_app debug_netlog_prop:file { getattr  open };
allow gmscore_app device_config_activity_manager_native_boot_prop:file { getattr  open };
allow gmscore_app device_config_boot_count_prop:file { getattr  open };
allow gmscore_app device_config_configuration_prop:file { getattr  open };
allow gmscore_app device_config_input_native_boot_prop:file { getattr  open };
allow gmscore_app device_config_media_native_prop:file { getattr  open };
allow gmscore_app device_config_netd_native_prop:file { getattr  open };
allow gmscore_app device_config_reset_performed_prop:file { getattr  open };
allow gmscore_app device_config_storage_native_boot_prop:file { getattr  open };
allow gmscore_app device_config_sys_traced_prop:file { getattr  open };
allow gmscore_app device_config_window_manager_native_boot_prop:file { getattr  open };
allow gmscore_app device_logging_prop:file { getattr  open };
allow gmscore_app dumpstate_options_prop:file { getattr  open };
allow gmscore_app dynamic_system_prop:file { getattr  open };
allow gmscore_app engineer_adb_state_vendor_prop:file { getattr  open };
allow gmscore_app engineer_hide_prop:file { getattr  open };
allow gmscore_app engineer_vendor_prop:file { getattr  open };
allow gmscore_app exported_audio_prop:file { getattr  open };
allow gmscore_app exported_bluetooth_prop:file { getattr  open };
allow gmscore_app exported_overlay_prop:file { getattr  open };
allow gmscore_app fastbootd_protocol_prop:file { getattr  open };
allow gmscore_app firstboot_prop:file { getattr  open };
allow gmscore_app graphics_debug_prop:file { getattr  open };
allow gmscore_app graphics_hwc_hdr_prop:file { getattr  open };
allow gmscore_app graphics_hwc_latch_unsignaled_prop:file { getattr  open };
allow gmscore_app graphics_hwc_pid_prop:file { getattr  open };
allow gmscore_app gsid_prop:file { getattr  open };
allow gmscore_app heapprofd_enabled_prop:file { getattr  open };
allow gmscore_app incremental_prop:file { getattr  open };
allow gmscore_app init_perf_lsm_hooks_prop:file { getattr  open };
allow gmscore_app init_svc_debug_prop:file { getattr  open };
allow gmscore_app last_boot_reason_prop:file { getattr  open };
allow gmscore_app llkd_prop:file { getattr  open };
allow gmscore_app lmkd_prop:file { getattr  open };
allow gmscore_app logmuch_prop:file { getattr  open };
allow gmscore_app logpersistd_logging_prop:file { getattr  open };
allow gmscore_app lowpan_prop:file { getattr  open };
allow gmscore_app lpdumpd_prop:file { getattr  open };
allow gmscore_app media_wfd_prop:file { getattr  open };
allow gmscore_app meta_connecttype_prop:file { getattr  open };
allow gmscore_app mmc_prop:file { getattr  open };
allow gmscore_app mobile_log_prop:file { getattr  open };
allow gmscore_app mock_ota_prop:file { getattr  open };
allow gmscore_app mtk_amsaal_prop:file { getattr  open };
allow gmscore_app mtk_amslog_prop:file { getattr  open };
allow gmscore_app mtk_bgdata_disabled:file { getattr  open };
allow gmscore_app mtk_bluetooth_prop:file { getattr  open };
allow gmscore_app mtk_capability_switch_prop:file { getattr  open };
allow gmscore_app mtk_cba_activation:file { getattr  open };
allow gmscore_app mtk_cdma_ecm_prop:file { getattr  open };
allow gmscore_app mtk_common_data_prop:file { getattr  open };
allow gmscore_app mtk_ctmslot_prop:file { getattr  open };
allow gmscore_app mtk_em_net_auto_tethering_prop:file { getattr  open };
allow gmscore_app mtk_em_sys_prop:file { getattr  open };
allow gmscore_app mtk_em_tel_log_prop:file { getattr  open };
allow gmscore_app mtk_gprs_attach_type:file { getattr  open };
allow gmscore_app mtk_mdmi_prop:file { getattr  open };
allow gmscore_app mtk_power_off_md_type:file { getattr  open };
allow gmscore_app mtk_rcs_support_prop:file { getattr  open };
allow gmscore_app mtk_rtt_prop:file { getattr  open };
allow gmscore_app mtk_selfreg_prop:file { getattr  open };
allow gmscore_app mtk_subsidylock_prop:file { getattr  open };
allow gmscore_app mtk_subsidylock_prop_connect:file { getattr  open };
allow gmscore_app mtk_system_update_support_prop:file { getattr  open };
allow gmscore_app mtk_telecom_vibrate:file { getattr  open };
allow gmscore_app mtk_telephony_sensitive_prop:file { getattr  open };
allow gmscore_app mtk_thermal_config_prop:file { getattr  open };
allow gmscore_app mtk_uce_support_prop:file { getattr  open };
allow gmscore_app mtk_update_prop:file { getattr  open };
allow gmscore_app mtk_vsim_sys_prop:file { getattr  open };
allow gmscore_app mtk_wfc_entitlement_prop:file { getattr  open };
allow gmscore_app mtk_wfc_mccmnc_prop:file { getattr  open };
allow gmscore_app mtk_wfc_opt_in_prop:file { getattr  open };
allow gmscore_app mtk_world_phone_prop:file { getattr  open };
allow gmscore_app mtkcam_prop:file { getattr  open };
allow gmscore_app netd_stable_secret_prop:file { getattr  open };
allow gmscore_app oppo_bsp_face_version:file { getattr  open };
allow gmscore_app overlay_prop:file { getattr  open };
allow gmscore_app persist_aee_prop:file { getattr  open };
allow gmscore_app persist_mdlog_prop:file { getattr  open };
allow gmscore_app persist_mtk_aee_prop:file { getattr  open };
allow gmscore_app persist_mtklog_prop:file { getattr  open };
allow gmscore_app persist_vendor_vzw_device_type:file { getattr  open };
allow gmscore_app persistent_properties_ready_prop:file { getattr  open };
allow gmscore_app rebootescrow_hal_prop:file { getattr  open };
allow gmscore_app safemode_prop:file { getattr  open };
allow gmscore_app serialno_prop:file { getattr  open };
allow gmscore_app storage_config_prop:file { getattr  open };
allow gmscore_app surfaceflinger_display_prop:file { getattr  open };
allow gmscore_app system_adbd_prop:file { getattr  open };
allow gmscore_app system_boot_reason_prop:file { getattr  open };
allow gmscore_app system_jvmti_agent_prop:file { getattr  open };
allow gmscore_app system_lmk_prop:file { getattr  open };
allow gmscore_app system_trace_prop:file { getattr  open };
allow gmscore_app test_boot_reason_prop:file { getattr  open };
allow gmscore_app theme_prop:file { getattr  open };
allow gmscore_app time_prop:file { getattr  open };
allow gmscore_app traced_enabled_prop:file { getattr  open };
allow gmscore_app traced_lazy_prop:file { getattr  open };
allow gmscore_app traced_perf_enabled_prop:file { getattr  open };
allow gmscore_app userspace_reboot_config_prop:file { getattr  open };
allow gmscore_app userspace_reboot_exported_prop:file { getattr  open };
allow gmscore_app userspace_reboot_log_prop:file { getattr  open };
allow gmscore_app userspace_reboot_test_prop:file { getattr  open };
allow gmscore_app usp_srv_prop:file { getattr  open };
allow gmscore_app vehicle_hal_prop:file { getattr  open };
allow gmscore_app vendor_bluetooth_prop:file { getattr  open };
allow gmscore_app vendor_cdma_prop:file { getattr  open };
allow gmscore_app vendor_connsysfw_prop:file { getattr  open };
allow gmscore_app adbd_prop:file { getattr  open };
allow gmscore_app apexd_prop:file { getattr  open };
allow gmscore_app atci_sys_prop:file { getattr  open };
allow gmscore_app atm_ipaddr_prop:file { getattr  open };
allow gmscore_app atm_mdmode_prop:file { getattr  open };
allow gmscore_app bluetooth_a2dp_offload_prop:file { getattr  open };
allow gmscore_app bluetooth_audio_hal_prop:file { getattr  open };
allow gmscore_app bluetooth_prop:file { getattr  open };
allow gmscore_app bootani_prop:file { getattr  open };
allow gmscore_app bootloader_boot_reason_prop:file { getattr  open };
allow gmscore_app boottime_prop:file { getattr  open };
allow gmscore_app boottime_public_prop:file { getattr  open };
allow gmscore_app bpf_progs_loaded_prop:file { getattr  open };
allow gmscore_app charger_prop:file { getattr  open };
allow gmscore_app cold_boot_done_prop:file { getattr  open };
allow gmscore_app coredump_prop:file { getattr  open };
allow gmscore_app cpu_variant_prop:file { getattr  open };
allow gmscore_app ctl_adbd_prop:file { getattr  open };
allow gmscore_app ctl_apexd_prop:file { getattr  open };
allow gmscore_app ctl_bootanim_prop:file { getattr  open };
allow gmscore_app ctl_bugreport_prop:file { getattr  open };
allow gmscore_app ctl_ccci2_fsd_prop:file { getattr  open };
allow gmscore_app ctl_ccci2_rpcd_prop:file { getattr  open };
allow gmscore_app ctl_ccci3_fsd_prop:file { getattr  open };
allow gmscore_app ctl_ccci_fsd_prop:file { getattr  open };
allow gmscore_app ctl_ccci_rpcd_prop:file { getattr  open };
allow gmscore_app ctl_console_prop:file { getattr  open };
allow gmscore_app ctl_default_prop:file { getattr  open };
allow gmscore_app ctl_dumpstate_prop:file { getattr  open };
allow gmscore_app ctl_fuse_prop:file { getattr  open };
allow gmscore_app ctl_fusion_ril_mtk_prop:file { getattr  open };
allow gmscore_app ctl_gsid_prop:file { getattr  open };
allow gmscore_app ctl_gsm0710muxd_prop:file { getattr  open };
allow gmscore_app ctl_interface_restart_prop:file { getattr  open };
allow gmscore_app ctl_interface_start_prop:file { getattr  open };
allow gmscore_app ctl_interface_stop_prop:file { getattr  open };
allow gmscore_app ctl_mdnsd_prop:file { getattr  open };
allow gmscore_app ctl_muxreport-daemon_prop:file { getattr  open };
allow gmscore_app ctl_restart_prop:file { getattr  open };
allow gmscore_app ctl_ril-daemon-mtk_prop:file { getattr  open };
allow gmscore_app ctl_ril-proxy_prop:file { getattr };
allow gmscore_app ctl_stop_prop:file { getattr };
allow gmscore_app debug_bq_dump_prop:file { getattr };
allow gmscore_app device_config_media_native_prop:file { open };
allow gmscore_app device_logging_prop:file { open };
allow gmscore_app heapprofd_enabled_prop:file { open };
allow gmscore_app init_svc_debug_prop:file { open };
allow gmscore_app lowpan_prop:file { open };
allow gmscore_app lpdumpd_prop:file { open };
allow gmscore_app mmc_prop:file { getattr  open };
allow gmscore_app mtk_gprs_attach_type:file { getattr  open };
allow gmscore_app mtk_mdmi_prop:file { open };
allow gmscore_app mtk_telephony_sensitive_prop:file { getattr };
allow gmscore_app oppo_bsp_face_version:file { getattr };
allow gmscore_app overlay_prop:file { getattr  open };
allow gmscore_app persist_aee_prop:file { getattr  open };
allow gmscore_app persist_mdlog_prop:file { getattr  open };
allow gmscore_app system_trace_prop:file { getattr  open };
allow gmscore_app test_boot_reason_prop:file { getattr  open };
allow gmscore_app theme_prop:file { getattr  open };
allow gmscore_app traced_perf_enabled_prop:file { getattr };
allow gmscore_app vendor_bluetooth_prop:file { getattr  open };
